html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--light);
}
/* So this code does not appear when i run the program on chrome? */
@media (max-width: 700px) {
    #myCarousel {
        display: none;
    }
}

